@font-face {
  font-family: 'Baloo Tamma';
  src: url('fonts/BalooTamma-Regular.eot');
  src: url('fonts/BalooTamma-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/BalooTamma-Regular.woff2') format('woff2'), url('fonts/BalooTamma-Regular.woff') format('woff'), url('fonts/BalooTamma-Regular.ttf') format('truetype'), url('fonts/BalooTamma-Regular.svg#svgFontName') format('svg');
}
/* GENERAL PROPERTIES */* {
  margin: 0;
  padding: 0;
  font: 12pt Arial;
}
*:focus {
  outline: none;
}
body {
  min-height: 100vh;
  /* Page Loading */

}
@media only screen and (max-width: 799px) {
  body {
    padding-top: 70px;
    background-color: #e6e6e6;
  }
}
@media only screen and (min-width:800px) {
  body {
    padding-top: 85px;
    background-color: #313131;
  }
}
body::after {
  content: "";
  background: url("../images/backgroundPattern.png");
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}
body.loading {
  overflow: hidden;
}
/* SEARCH BOX */
#searchBox {
  display: flex;
  position: fixed;
  top: 0;
  flex-direction: row;
  -webkit-box-shadow: 0px 0px 15px 0px black;
  -moz-box-shadow: 0px 0px 15px 0px black;
  box-shadow: 0px 0px 15px 0px black;
  z-index: 1;
  width: 100vw;
}
@media only screen and (min-width:800px) {
  #searchBox {
    position: static;
    margin: 0 auto 70px;
    width: 60vw;
  }
}
#searchBox #searchterm {
  width: 0;
  height: 47px;
}
#searchBox > input[type=text],
#searchBox > button {
  display: block;
  font-family: 'Baloo Tamma';
}
#searchBox > input[type=text] {
  flex: 1;
  padding: 0.6em;
  border: 0.2em solid #f69323;
}
#searchBox > button {
  padding: 0.6em 0.8em;
  background-color: #f69323;
  border: none;
}
#searchBox > button img {
  width: 25px;
}
.logo {
  width: 40vw;
  bottom: 9vh;
  left: 30vw;
  position: absolute;
}
@media only screen and (min-width:800px) {
  .logo {
    width: 12vw;
    position: absolute;
    bottom: 7vh;
    left: 44vw;
  }
}
/* LOADING SCREEN */
#loadingScreen {
  font-family: 'Baloo Tamma';
  font-weight: lighter;
  color: #f69323;
  text-align: center;
}
/* HOME SCREEN */
#homeScreen {
  /* NO FOCUS ON SEARCH BOX */

  /* FOCUS ON SEARCH BOX */

}
#homeScreen .promotionalText {
  width: 90vw;
  position: absolute;
  left: 5vw;
  bottom: 60vh;
}
@media only screen and (min-width:800px) {
  #homeScreen .promotionalText {
    width: 50vw;
    position: absolute;
    top: 32vh;
    left: 25vw;
  }
}
@media only screen and (max-width: 799px) {
  #homeScreen.isSearchBoxFocused .promotionalText {
    top: 40vh;
  }
}
@media only screen and (max-width: 799px) {
  #homeScreen.isSearchBoxFocused .logo {
    display: none;
  }
}
/* NO RESULTS SCREEN */
#noResultsScreen .noResultsHeader {
  font-family: 'Baloo Tamma';
  font-weight: lighter;
  color: #f69323;
  text-align: center;
}
/* RESULTS SCREEN */
#resultsScreen .clientCard {
  background-color: white;
}
@media only screen and (min-width:800px) {
  #resultsScreen .clientCard {
    width: 70%;
    float: right;
    position: relative;
    margin-bottom: 35px;
  }
}
#resultsScreen .clientCard .clientName {
  font-family: 'Baloo Tamma';
  color: #f69323;
  font-weight: bold;
  text-align: center;
}
@media only screen and (min-width:800px) {
  #resultsScreen .clientCard .clientName {
    position: relative;
    left: -72%;
    top: 260px;
    margin-bottom: -35px;
  }
}
#resultsScreen .clientCard img {
  width: 100%;
  height: 260px;
}
@media only screen and (min-width:800px) {
  #resultsScreen .clientCard img {
    position: absolute;
    left: -300px;
    top: 5px;
    width: 250px;
    height: 250px;
    border: solid #f69323;
  }
}
#resultsScreen .clientCard .matchedProducts {
  padding: 10px;
}
@media only screen and (min-width:800px) {
  #resultsScreen .clientCard .matchedProducts {
    min-height: 250px;
  }
}
#resultsScreen .clientCard .matchedProducts .product {
  padding: 0;
  overflow: hidden;
}
@media only screen and (min-width:800px) {
  #resultsScreen .clientCard .matchedProducts .product {
    border-bottom: dashed 1px lightgray;
  }
}
@media only screen and (min-width:800px) {
  #resultsScreen .clientCard .matchedProducts .product:last-child {
    border-bottom: 0;
  }
}
#resultsScreen .clientCard .matchedProducts .product .productName {
  color: #002448;
  font-weight: bold;
  overflow: auto;
}
#resultsScreen .clientCard .matchedProducts .product .descripcion {
  font-size: 10pt;
  color: #002448;
}
#resultsScreen .clientCard .matchedProducts .product .pull-right {
  font-family: 'Baloo Tamma';
  font-weight: lighter;
}
#resultsScreen .clientCard .matchedProducts .product h4 {
  color: #f69323;
  margin-bottom: 0;
}
#resultsScreen .clientCard .matchedProducts .product h4 p {
  margin: 0;
}
#resultsScreen .clientCard .contacto {
  padding-right: 10px;
  padding-left: 10px;
}
@media only screen and (max-width: 799px) {
  #resultsScreen .clientCard .contacto {
    background-color: #f69323;
    width: 104%;
    position: relative;
    left: -2%;
  }
}
#resultsScreen .clientCard .contacto .direccion {
  font-family: 'Baloo Tamma';
  font-weight: lighter;
}
#resultsScreen .clientCard .contacto .pull-right {
  font-family: 'Baloo Tamma';
  font-weight: lighter;
}
#resultsScreen .clientCard .contacto p {
  color: #ffffff;
  font-size: 11pt;
  font-weight: lighter;
  font-family: baloo tamma;
}
@media only screen and (min-width:800px) {
  #resultsScreen .clientCard .contacto p {
    color: #002448;
  }
}
