@font-face {
  font-family: 'Baloo Tamma';
  src: url('fonts/BalooTamma-Regular.eot');
  src: url('fonts/BalooTamma-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/BalooTamma-Regular.woff2') format('woff2'), url('fonts/BalooTamma-Regular.woff') format('woff'), url('fonts/BalooTamma-Regular.ttf') format('truetype'), url('fonts/BalooTamma-Regular.svg#svgFontName') format('svg');
}
.clientDataOverImage {
  text-shadow: 2px 0 0 #ffffff, -2px 0 0 #ffffff, 0 2px 0 #ffffff, 0 -2px 0 #ffffff, 1px 1px #ffffff, -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff;
  color: #001219;
  left: 0;
}
@media only screen and (max-width: 799px) {
  .clientDataOverImage {
    background: rgba(255, 255, 255, 0.6);
  }
}
/* GENERAL PROPERTIES */* {
  margin: 0;
  padding: 0;
  font: 12pt Arial;
}
*:focus {
  outline: none;
}
body {
  min-height: 100vh;
  /* Page Loading */

}
@media only screen and (max-width: 799px) {
  body {
    padding-top: 55px;
    background-color: #e6e6e6;
  }
}
@media only screen and (min-width:800px) {
  body {
    padding-top: 85px;
    background-color: #313131;
  }
}
body::after {
  content: "";
  background: url("../images/backgroundPattern.png");
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}
body.loading {
  overflow: hidden;
}
/* SEARCH BOX */
#searchBox {
  display: flex;
  position: fixed;
  top: 0;
  flex-direction: row;
  -webkit-box-shadow: 0px 0px 15px 0px black;
  -moz-box-shadow: 0px 0px 15px 0px black;
  box-shadow: 0px 0px 15px 0px black;
  z-index: 1;
  width: 100vw;
}
@media only screen and (min-width:800px) {
  #searchBox {
    position: static;
    margin: 0 auto 70px;
    width: 60vw;
  }
}
#searchBox #searchterm {
  width: 0;
  height: 47px;
}
#searchBox > input[type=text],
#searchBox > button {
  display: block;
  font-family: 'Baloo Tamma';
}
#searchBox > input[type=text] {
  flex: 1;
  padding: 0.6em;
  border: 0.2em solid #f69323;
}
#searchBox > button {
  padding: 0.6em 0.8em;
  background-color: #f69323;
  border: none;
}
#searchBox > button img {
  width: 25px;
}
.logo {
  width: 40vw;
  bottom: 9vh;
  left: 30vw;
  position: absolute;
}
@media only screen and (min-width:800px) {
  .logo {
    width: 12vw;
    position: absolute;
    bottom: 7vh;
    left: 44vw;
  }
}
/* LOADING SCREEN */
#loadingScreen {
  font-family: 'Baloo Tamma';
  font-weight: lighter;
  color: #f69323;
  text-align: center;
}
/* HOME SCREEN */
#homeScreen {
  /* NO FOCUS ON SEARCH BOX */

  /* FOCUS ON SEARCH BOX */

}
#homeScreen .promotionalText {
  width: 90vw;
  position: absolute;
  left: 5vw;
  bottom: 60vh;
}
@media only screen and (min-width:800px) {
  #homeScreen .promotionalText {
    width: 50vw;
    position: absolute;
    top: 32vh;
    left: 25vw;
  }
}
@media only screen and (max-width: 799px) {
  #homeScreen.isSearchBoxFocused .promotionalText {
    top: 40vh;
  }
}
@media only screen and (max-width: 799px) {
  #homeScreen.isSearchBoxFocused .logo {
    display: none;
  }
}
/* NO RESULTS SCREEN */
#noResultsScreen .noResultsHeader {
  font-family: 'Baloo Tamma';
  font-weight: lighter;
  color: #f69323;
  text-align: center;
}
/* RESULTS SCREEN */
#resultsScreen .clientCard {
  background-color: white;
  -webkit-box-shadow: 0px 0px 15px 0px black;
  -moz-box-shadow: 0px 0px 15px 0px black;
  box-shadow: 0px 0px 15px 0px black;
}
@media only screen and (max-width: 799px) {
  #resultsScreen .clientCard {
    margin: 0 5px 20px;
  }
}
@media only screen and (min-width:800px) {
  #resultsScreen .clientCard {
    width: 80%;
    margin: 30px 10%;
    position: relative;
    min-height: 270px;
  }
}
#resultsScreen .clientCard .clientInfo {
  width: 100%;
  height: 260px;
  position: relative;
}
@media only screen and (min-width:800px) {
  #resultsScreen .clientCard .clientInfo {
    position: static;
    margin: 10px;
    float: left;
    width: 250px;
    height: 250px;
    border: solid #f69323;
  }
}
#resultsScreen .clientCard .clientInfo img {
  width: 100%;
  height: 100%;
}
#resultsScreen .clientCard .clientInfo .clientName {
  text-shadow: 2px 0 0 #ffffff, -2px 0 0 #ffffff, 0 2px 0 #ffffff, 0 -2px 0 #ffffff, 1px 1px #ffffff, -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff;
  color: #001219;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: 'Baloo Tamma';
  position: absolute;
  top: 0;
}
@media only screen and (max-width: 799px) {
  #resultsScreen .clientCard .clientInfo .clientName {
    background: rgba(255, 255, 255, 0.6);
  }
}
@media only screen and (min-width:800px) {
  #resultsScreen .clientCard .clientInfo .clientName {
    width: 270px;
  }
}
#resultsScreen .clientCard .clientInfo .contacto {
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-shadow: 2px 0 0 #ffffff, -2px 0 0 #ffffff, 0 2px 0 #ffffff, 0 -2px 0 #ffffff, 1px 1px #ffffff, -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff;
  color: #001219;
  left: 0;
}
@media only screen and (max-width: 799px) {
  #resultsScreen .clientCard .clientInfo .contacto {
    background: rgba(255, 255, 255, 0.6);
  }
}
@media only screen and (min-width:800px) {
  #resultsScreen .clientCard .clientInfo .contacto {
    width: 250px;
    margin-left: 10px;
    border-top: 3px solid #f69323;
    background-color: white;
  }
}
#resultsScreen .clientCard .clientInfo .contacto .direccion {
  font-family: 'Baloo Tamma';
  font-weight: lighter;
}
@media only screen and (max-width: 799px) {
  #resultsScreen .clientCard .clientInfo .contacto .direccion {
    float: left;
  }
}
#resultsScreen .clientCard .clientInfo .contacto .telefono {
  font-family: 'Baloo Tamma';
  font-weight: lighter;
}
@media only screen and (max-width: 799px) {
  #resultsScreen .clientCard .clientInfo .contacto .telefono {
    float: right;
  }
}
#resultsScreen .clientCard .clientInfo .contacto p {
  font-size: 11pt;
  font-weight: lighter;
  font-family: baloo tamma;
  text-align: center;
}
@media only screen and (min-width:800px) {
  #resultsScreen .clientCard .clientInfo .contacto p {
    color: #002448;
    margin: 0;
  }
}
#resultsScreen .clientCard .openClosedSign {
  display: none;
}
#resultsScreen .clientCard .matchedProducts {
  padding: 10px;
}
@media only screen and (min-width:800px) {
  #resultsScreen .clientCard .matchedProducts {
    overflow: auto;
  }
}
#resultsScreen .clientCard .matchedProducts .product {
  margin: 10px 0;
  overflow: hidden;
}
@media only screen and (min-width:800px) {
  #resultsScreen .clientCard .matchedProducts .product {
    border-bottom: dashed 1px lightgray;
  }
}
@media only screen and (min-width:800px) {
  #resultsScreen .clientCard .matchedProducts .product:last-child {
    border-bottom: 0;
  }
}
#resultsScreen .clientCard .matchedProducts .product h5 {
  margin: 0;
}
#resultsScreen .clientCard .matchedProducts .product h5.productName {
  color: #002448;
  font-weight: bold;
  overflow: auto;
}
#resultsScreen .clientCard .matchedProducts .product h5.descripcion {
  font-size: 10pt;
  color: #002448;
}
#resultsScreen .clientCard .matchedProducts .product h5.price {
  float: right;
  font-family: 'Baloo Tamma';
  font-weight: lighter;
  color: #f69323;
}
