<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Go Nueva Cordoba</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/shop-homepage.css" rel="stylesheet">
    <script src="js/angular.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="myApp" ng-controller="appController">

    <form class="field" id="searchform" autocomplete="off">
    <!-- 
        <button type="submit" id="home" ng-click="goToHome()">
            <img src="images/home.png">
        </button>
    -->
        <input type="text" id="searchterm" ng-model="searchText" placeholder="Buscar en Nueva Córdoba" />
        <button type="submit" id="search" ng-click="filter(searchText)">
            <img src="images/go.png">
        </button>
    </form>

    <script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>

    <!-- Page Content -->
    <div class="container">
        <!-- Home Page. -->
        <div ng-if="clientsShown == null && !isMobile" class="homePromotional">
            <img src="images/queSeTeAntoja.png" class="promotionalText">
            <img src="images/logo.png" class="logo">
        </div>

        <!-- Esto se muestra cuando no hay clients que coincidan con el criterio de la busqueda. -->
        <div ng-if="clientsShown != null && clientsShown.length === 0">
        </div>
                <div ng-repeat="clientShown in clientsShown">
                    <div class="thumbnail">
                        <img ng-src="{{clientShown.client.imagen}}" alt="{{clientShown.client.cliente}}">

                        <div class="matchedProducts">
                            <div ng-repeat="product in clientShown.matchedProducts" class="caption">
                                <h4 class="pull-right">${{product.precio}}</h4>
                                <h4><p class="nombre" href="#">{{product.producto}}</p>
                                </h4>
                                <p class="descripcion">{{product.descripcion}}</p>
                            </div>
                        </div>

                        <div class="ratings">
                            <p class="pull-right">{{clientShown.client.telefono}}</p>
                            <p class="cliente">
                                {{clientShown.client.cliente}}
                            </p>
                        </div>
                    </div>
                </div>
        </div>

    </div>
    <!-- /.container -->

    <div class="container">
        <!-- Footer -->
        <footer>

        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <script src="js/headerScrolling.js"></script>
    <script src="js/loseFocusOnEnter.js"></script>
    <script src="js/app.js"></script>

</body>

</html>
