<div id="close-suggestions" ng-click="close()" ng-show="showProducts || showStores"><</div>
<div id="footer">
	<span ng-if="!showProducts" class="searchSuggestionsHeader" ng-click="select('sugerencias')">PRODUCTOS</span>
	<span ng-if="showProducts" class="searchSuggestionsHeader selected" ng-click="select('sugerencias')">PRODUCTOS</span>
	<span class="searchSuggestionsHeader home" ng-click="goHome()"></span>
	<span ng-if="!showStores" class="searchSuggestionsHeader" ng-click="select('locales')">LOCALES</span>
	<span ng-if="showStores" class="searchSuggestionsHeader selected" ng-click="select('locales')">LOCALES</span>
</div>